.footer-container {
  width: 100%;
  padding: 25px 0;
  background: #020617; /* Matches your dark theme */

  display: flex;
  flex-direction: row;
    justify-content: space-between;
  

  border-top: 1px solid rgba(148, 163, 184, 0.2);
}

.footer-text {
  color: #9ca3af;
  font-size: 0.9rem;
    margin-left: 20px;
}

.footer-socials {
  display: flex;
    margin-right: 20px;
    gap: 10px;
}

.footer-socials a {
  width: 36px;
  height: 36px;
  border-radius: 999px;
  border: 1px solid rgba(148, 163, 184, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  transition: 0.2s ease-in-out;
}

.footer-socials a i {
  font-size: 18px;
  color: #e5e7eb;
}

.footer-socials a:hover {
  border-color: #38bdf8;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.7);
}
